<main>
  <div class="login">
    <div class="logo">
      <h2 class="mark">IP</h2>
      <h2 class="title">Intelligent Projects</h2>
    </div>
    <h2 class="welcome">Start a new experience</h2>
    <form class="login-form">
      <mat-form-field class="email">
        <mat-label>Email Address</mat-label>
        <input matInput placeholder="" />
      </mat-form-field>

      <mat-form-field class="password">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="" />
      </mat-form-field>
      <div class="buttons">
        <div class="register">
          <button mat-raised-button>Register</button>
        </div>
        <button type="submit" mat-raised-button class="sing-in">Sign In</button>
      </div>
    </form>
  </div>
</main>
