* {
    box-sizing: border-box;
}

body {
    background: radial-gradient(#CF67DF, #100E89);
    height: 100vh;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
